.groupes-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.groupes-container h1{
    text-align: center;
    font-size: 3rem;
    font-family: 'Lota', serif;
}

.groupes-container h1::first-letter{
    color: var(--primary-color-variant);
}

.groupes-content table{
    border-collapse: collapse;
    width: 100%;
}

.actionAddDelete{
    display: flex;
    gap: 5px;
}

.groupes-content th,td{
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    text-align: left;
    font-size: 16px;
    border-radius: 3px;
}

.groupes-content th{
    background-color: var(--bgSidebar-color);
}

.groupes-content td{
    background: #3f6cff55;
}

.groupes-content .btn-edit{
    color: var(--primary-color-variant);
    background: var(--white-color);
    border: 1px solid var(--primary-color-variant);
}

.groupes-content .btn-edit:hover{
    color: var(--white-color);
    background: var(--primary-color-variant);
}



.groupes-content .btn-delete{
    color: var(--danger-color);
    border: 1px solid var(--danger-color);
    background: var(--white-color);
}

.groupes-content .btn-delete:hover{
    color: var(--white-color);
    background: var(--danger-color);
}

.groupes-content .action{
    display: flex;
    gap: 10px;
}

.groupes-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 70px;
    margin: 0 1rem;
    box-shadow: 30px 16px 39px 29px rgba(146, 147, 247, 0.17);
    -webkit-box-shadow: 30px 16px 39px 29px rgba(168, 184, 255, 0.173);
    -moz-box-shadow: 30px 16px 39px 29px rgba(116, 108, 255, 0.199);
}

.groupes-footer .add-btn:hover{
    color: var(--primary-color-variant);
    outline: 0.1px solid var(--primary-color-variant);
    background: var(--white-color);
  }

.groupes-footer input{
    width: 100%;
    height: 30px;
    outline: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 0px 10px;
}

.groupes-footer form{
    display: flex;
    gap: 20px;
}

.main-side{
    display: flex;
}

.main-groupe{
    flex: 4;
}